*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: sans-serif;
}
input{
    outline: none;
}
.main-header{
    overflow: hidden;
    position: relative;
}
.body{
    position: relative;
    padding: 0 20px 32px 20px;
    
}
.body-image{
    margin-left: auto;
    margin-right: auto;
    max-width: 1060px;
    height: 500px;
}

h1{
    width: 258px;
    margin: 0 0 16px;
    padding: 8px 0 0;
    font-size: 32px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: -2px;
}
.logo{
    padding: 8px;
}
.pic-logo{
    margin: 0;
    margin: 0px 24px;
    display: flex;
    height: 48px;
    padding-top: 7px;
}

.header{
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
.login{
    padding: 8px;
    display: flex;
    align-items: center;
    z-index: 1;
}
.log-in{
    padding: 8px 12px;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    color: black;
}

.log-in:hover {
    color: rgb(83, 134, 136);
}
.css-5tqg0u{
    width: 100%;
    height: 250px;
}
.main-pic{
    position: absolute;
    margin-left: 20px;
    margin-top: 245px;
    width: 100%;
}
.main-title{
    position: absolute;
}
.css-soyr0r{
    position: absolute;
    right: 44%;
    left: auto;
    top: -378px;
    height: auto;
    z-index: -1;
}

.css-xzwpc6{
    position: absolute;
    left: 0;
    top: 300px;
    display: inline;
    z-index: -1;
    
}
.css-1yb96iz{
    position: absolute;
    right: 0;
    top: 500px;
    display: inline;
    z-index: -1;
}
.button1{
    text-decoration: none;
    background-color: rgb(246, 88, 88);
    color: white;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 8px;
    margin-top: 24px;
    cursor: pointer;
    display: inline-flex;
    height: 56px;
    align-items: center;
    z-index: 1;
}
.button1:hover {
    background-color:  #f77070;
}

.box{ 
    margin-bottom: 12px;
    height: 48px;
    flex-basis: 80%;
    flex-grow: 1;
}
::placeholder{
    opacity: 0.75;
}
.body-main{
    margin-left: auto;
    margin-right: auto;
    max-width: 1060px;
}
.box-border{
    margin: 32px 0 0;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.faSearch{
    position: absolute;
    padding-left: 8px;
}
.faMap{
    position: absolute;
    margin-left: 11px;
}
.searchBox:hover{
    border-color: #858585;
}
.searchBox:focus{
    border-color: #008294;
}
.textBox:hover{
    border-color: #858585;
}
.textBox:focus{
    text-transform: none;
    border-color: #008294;
}
.search{
    position: relative;   
    flex-grow: 1;
    display: flex;
    align-items: center;
}
.text{
    position: relative;
    display: flex;
    align-items: center;
    top: -1px;
}
.searchBox{
    font-size: 16px;
    border: solid 1px rgb(170, 168, 168);
    border-radius: 8px;
    padding: 8px 16px 8px 32px;
    height: 48px;
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.textBox{
    border: solid 1px rgb(170, 168, 168);
    border-radius: 8px;
    padding: 8px 16px 8px 32px;
    height: 48px;
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.searchButton{
    font-size: 14px;
    text-decoration: none;
    color: #008294;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #008294;
    border-radius: 8px;
    padding: 8px 16px;
    height: 48px;
    width: 100%;
    flex-grow: 1;
}

.searchButton:hover{
    color: white;
    background-color: #008294;
    transition: all 0.15s;
}
.textTitle{
    font-size: 20px;
    line-height: 1.19;
    font-weight: 600;
}
.seeAll{
    font-size: 16px;
    color: #008294;
    text-decoration: none;
}
.seeAll:hover{
    text-decoration: underline;
}
.all{
    display: none;
    font-weight: 600;
}
.event{
    display: block;
    margin-right: 16px;
    margin-top: 20px;
    margin-bottom: 16px;
}
#eventsnear{
    padding-bottom: 16px;
    padding-top: 32px;
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.event-main{
    margin-top: 20px;
   
}
li{
    list-style-type: none;
    padding-bottom: 4px;
}
.li2{
    list-style-type: none;
    padding-left: 20px;
}
.full{
    display: inline-flex;
    flex-direction: column;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 8px;
}
.half-top{
    position: relative;
    width: 248px;
    height: 140px;
}
a{
    text-decoration: none;
}
.ulList{
    display: flex;
    margin: 0;
    padding: 0;
    transform: translateX(0px);
    transition: all 0.25;
    overflow-x: auto;
}
.ul-overflow{
    overflow: hidden;
}
.eventslist{
    padding: 32px 0 0;
    margin: 0;
    position: relative;  
}
.half-bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;
    height: 208px;
}
.time-event{
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 600;
    letter-spacing: -0.02em;
    word-spacing: 0.1em;
    padding-top: 4px;
    padding-bottom: 4px;
    display: flex;
    color: rgb(135, 116, 87);
}
.content-event{
    color: rgb(33, 33, 33);
    font-weight: 600;
    font-size: 16px;
    padding-top: 0px;
    padding-bottom: 4px;
    width: 224px;
    height: 28px;
    display: flex;
    align-items: center;
    margin: 0;
}
.group-event{
    padding-top: 8px;
    color: rgb(117, 117, 117);
    font-size: 14px;
    margin: 0;
}
.people{
    margin: 0;
}
.image-people{
    position: relative;
    width: 30px;
    height: 30px;
    border: 2px solid white;
    border-radius: 100%;
}
.images-people{
    position: relative;
    display: flex;
    flex-direction: row;
}
.number-people{
    padding: 8px 0 0 8px;
    color: rgb(117, 117, 117);
    font-size: 14px;
}
.half-bottom-bottom{
    display: flex;
}
.a{
    overflow: hidden;
    background-color: rgb(230, 230, 230);
}
.b{
    margin-left: -8px;
    overflow: hidden;
    z-index: -1;
    background-color: rgb(230, 230, 230);
}
.c{
    margin-left: -8px;
    overflow: hidden;
    z-index: -2;
    background-color: rgb(230, 230, 230);
}
.tech{
    margin-top: 0;
}

.css-1ua7kpk{
    position: absolute;
    right: -111px;
    top: -161px;
    height: auto;
    z-index: -1;
}
.move{
    display: none;
    border-radius: 100%;
    z-index: 10;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(46, 62, 72, 0.12);
    box-shadow: rgba(46, 62, 72, 0.12) 0px 0px 2px 0px, rgba(46, 62, 72, 0.12) 0px 2px 4px 0px;
    height: 40px;
    width: 40px;
    position: absolute;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    
}
.move:hover{
    bottom: 3px;
    box-shadow: rgba(46, 62, 72, 0.12) 0px 2px 8px 0px, rgba(46, 62, 72, 0.12) 0px 2px 4px 0px;
}
.move:focus{
    outline: none;
}
.left{
    left: -20px;
}
.right{
    right: -20px;
}
.list-event{
    padding-top: 32px;
    padding-bottom: 80px;
}
.browse{
    margin-bottom: 20px;
    margin-top: 0;
    font-size: 20px;
}
.list-child{
    margin: 10px 0;
    box-shadow: 0 0 2px 0 rgba(46,62,72,.12), 0 2px 4px 0 rgba(46,62,72,.12);
    border-radius: 8px;
    overflow: hidden;
    flex-basis: 100%;
}
.list-main{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.link-list{
    height: 50px;
}
.list-content{
    display: flex;
    align-items: center;
}
.pic{
    height: 50px;
    width: 88px;
}
.content{
    padding: 0 0 0 24px;
    color: black;
    font-family: inherit;
}
.footer{
    background-color: var(--theme-ui-colors-gray7,#212121);
    color: var(--theme-ui-colors-gray1,#F6F7F8);
    padding: 16px;
}
.footer-main{
    margin: 0 auto;
    max-width: 960px;
}
.get-started{
    border: solid;
    padding: 8px 16px;
    margin: 0 0 0 16px;
    border-radius: 8px;
    border-width: 2px;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
}
.get-started:hover{
    border-color: #e6e6e6;
}
.content-title{
    display: flex;
    align-items: center;
    font-weight: 600;
    line-height: 1.4;
    font-size: 20px;
    display: none;
}
.title-footer{
    margin: 8px 8px 24px;
    padding-bottom: 24px;
    
    letter-spacing: 0.3px;
    border-bottom: 1px solid #757575;
}
.ul-list-grid{
    padding: 0;
    margin: 0;
}
.list-grid{
    padding: 4px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    display: inline-block;
    color: var(--theme-ui-colors-gray4,#C5C4C4);
    font-size: 14px;
}
.list-grid:hover{
    color: var(--theme-ui-colors-gray5,#A2A2A2);
}
.ul-grid{
    display: grid;
    grid-gap: 12px;
    margin-bottom: 32px;
}
.css-1umrx6l{
    fill: var(--theme-ui-colors-gray3,#D9D9D9);
}
.title{
    margin: 0 0 12px;
}
.social{
    margin-right: 32px;
}
.css-stt8us{
    height: 38px;
    margin-right: 12px;
}
.css-116ty0a{
    height: 38px;
}
.follow{
    display: grid;
    grid-gap: 12px;
}
.social-network{
    margin: 0 0 24px;
}
.app{
    display: flex;
    margin-bottom: 40px;
}
.about{
    font-size: 14px;
}
.ac{
    display: inline;
    font-size: 16px;
    margin-right: 24px;
    height: 24px;
}
.end{
    margin-right: 24px;
}
.start-new-group{
    display: flex;
    color: white;
    justify-content: center;
    padding: 8px 12px;
}
@media screen and (min-width: 576px){
    .list-child{
        display: inline-flex;
        flex-basis: 45%;
        margin: 10px;
    }
    .content-title{
        display: flex;
    }
    .start-new-group{
        display: none;
    }
    .title-footer{
        margin: 8px 0 24px;
    }
    
    .ulList{
        transform: translateX(0px);
        transition: all 0.25;
    }
    .move{
        display: none;
    }
    h1{
        width: 385px;
        font-size: 44px;
        padding: 32px 0 0;
    }
    .css-5tqg0u{
        width: 100%;
        height: 300px;
    }
    .main-pic{
        margin-left: 10%;
        margin-top: 216px;
        width: 100%;
    }
    .box-border{
        margin: 16px 0 0;
    }
}
@media screen and (min-width: 769px){
    .list-child{
        display: inline-flex;
        flex-basis: 30%;
        margin: 10px;
    }
}

@media screen and (min-width: 768px){
    .ul-grid{
        grid-template-columns: repeat(3, 1fr);  
    }
    .follow{
        grid-template-columns: repeat(2, 1fr);
    }
    .app{
        justify-content: flex-end;
    }
    .footer{
        padding: 24px;
    }
    .about{
        font-size: 16px;
    }
    .textTitle{
        font-size: 32px;
        font-weight: 800;
        letter-spacing: -2px;
    }
    
    .move{
        display: inline-flex;
    }
    
    .ulList{
        transform: translateX(0px);
        transition: all 0.25;
        overflow-x: visible;
    }
    .event{
        display: none;
    }
    .all{
        display: block;
    }
    .searchBox{
        border-radius: 8px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .textBox{
        border-radius: 8px;
        min-width: 300px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;  
        margin-bottom: 0;  
    }
    .box{
        display: flex;
        flex-direction: row;
        margin-right: 20px;
        margin-bottom: 0;
    }
    .box-border{
        flex-direction: row;
        box-shadow: 0 2px 8px 0 rgba(0,0,0,0.12);
        border: none;
        border-radius: 8px;
        background-color: white;
        padding: 17px 16px 17px 16px;
    }
    .searchButton{
        height: 48px;
        flex-basis: 15%;
    }
    .text{
        left: -1px;
        top: 0;
    }
    .ac{
        font-size: 14px;
    }
    h1{
        width: 368px;
    }
    .css-5tqg0u{
        width: 100%;
        height: 300px;
    }
    .body{
        margin-top: 16px;
    }
    .body-image{
        height: 320px;
    }
    .main-pic{
        position: absolute;
        margin-left: 350px;
        margin-top: 0;
        width: 60%;
    }
}
@media screen and (min-width: 992px){
    h1{
        width: 450px;
        font-size: 56px;
        line-height: 1.1;
        letter-spacing: -4px;
    }
    .button1{
        padding-left: 56px;
        padding-right: 56px;
    }
    .main-pic{
        position: absolute;
        margin-left: 400px;
        margin-top: 0;
        width: 60%;
    }
    
    .css-5tqg0u{
        height: 380px; 
        width: 100%;
    }
    .body-image{
        height: 420px;
    }
}